{% macro show_file(name, fullpath) %}
    <li><a href="{{ url_for('blob', repo=repo.name, rev=rev, path=fullpath) }}">{{ name|force_unicode }}</a></li>
{% endmacro %}

{% macro show_dir(name, fullpath1, subs) %}
    <li>
        <span>
            <div class="icon"></div>
            <a href="{{ url_for('history', repo=repo.name, rev=rev, path=fullpath1) }}" class=dir>{{ name|force_unicode }}</a></li>
        </span>
    <li>
{% endmacro %}


<div class=tree>
    <h2>Tree @<a href="{{ url_for('commit', repo=repo.name, rev=rev) }}">{{ rev|shorten_sha1 }}</a>
        <span>(<a href="{{ url_for('download', repo=repo.name, rev=rev) }}">Download .tar.gz</a>)</span>
    </h2>
    <ul>

        {% for _, name, fullpath1, subs in root_tree.dirs %}
            {{ show_dir(name, fullpath1, subs) }}

            {% for _, name, fullpath in subs.files %}
                {{ show_file(name, fullpath) }}
            {% endfor %}

        </li>
        {% endfor %}

    </ul>
</div>
